.btn-style {
  border-width: 0px;
  background: transparent;
  color: #f1f5f9;
  cursor: pointer;
}
.app-container {
  background-color: #25262c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-editor-container {
  height: 500px;
  width: 800px;
  background-color: #1b1c22;
  display: flex;
}
.heading {
  color: #f8fafc;
}
.unordered-list {
  list-style-type: none;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image {
  height: 300px;
}
.right-container {
  height: 450px;
  width: 400px;
  background-color: #25262c;
  margin: 20px;
}
.left-container {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.text-area {
  background: transparent;
  height: 300px;
  width: 250px;
  margin-left: 10px;
  border-width: 0px;
  color: #f8fafc;
}
.bold {
  font-weight: bold;
}
.italics {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.isClicked {
  color: #faff00;
}
